DATABASE_URL="mysql://dev:dev@localhost/typehero"
GITHUB_ID="99004a37ca74465b9157"
GITHUB_SECRET="8438cb3f7ebdfc4430833530c8151a69e92058d5"
EDGE_CONFIG=
UPLOADTHING_SECRET="sk_live_b8ec28348ddb8e77cc73870897f8b6a3619dc2e05ee44bc7798b74af24da084e"
UPLOADTHING_APP_ID="mkbo6l2e4f"
# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="Ketchup"
NEXTAUTH_URL="http://localhost:3000"

